[Unit]
Description=mempool.space Backend API Service
Documentation=https://mempool.space/docs/faq

Wants=network-online.target local-fs.target mempool-network.service mariadb@mempool.service
After=network-online.target local-fs.target mempool-network.service mariadb@mempool.service

RequiresMountsFor=%t/containers /var/data/%N

[Service]
Type=notify
NotifyAccess=all

Restart=on-failure
TimeoutStopSec=121

Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=SERVICE_NAME=%N
Environment=CONTAINER_IMAGE_REPO=docker.io/mempool/backend
Environment=CONTAINER_IMAGE_TAG=v3.0.0
Environment=CONTAINER_NETWORK=podman

Environment=CORE_RPC_PORT=8332
Environment=CORE_RPC_USERNAME=bitcoin
Environment=CORE_RPC_PASSWORD=bitcoin

Environment=MEMPOOL_BACKEND=electrum
Environment=ELECTRUM_PORT=50002
Environment=ELECTRUM_TLS_ENABLED=true

EnvironmentFile=-/usr/local/services/mempool.env
EnvironmentFile=-/usr/local/services/%N.env

ExecStartPre=/usr/bin/podman rm --force --ignore ${SERVICE_NAME}
ExecStartPre=/usr/bin/mkdir -p /var/data/%N

ExecStart=/usr/bin/podman run -d --name ${SERVICE_NAME} --pull newer\
  --cgroups no-conmon --sdnotify conmon --log-driver journald --stop-timeout 120 --env-host\
  --network ${CONTAINER_NETWORK} --publish 127.0.0.1:8999:8999/tcp\
  --read-only --volume /var/data/%N:/data:z --tmpfs /tmp --env WORK_DIR=/data\
  ${CONTAINER_IMAGE_REPO}:${CONTAINER_IMAGE_TAG}

ExecStop=/usr/bin/podman stop --ignore ${SERVICE_NAME}
ExecStopPost=/usr/bin/podman rm --force --ignore ${SERVICE_NAME}

[Install]
WantedBy=default.target
